/* Fundo fixo */
:root{
--Verde: #009C3B;
--Amarelo: #FFDF00;
--Azul: #002776;
--Branco: #FFFFFF;
}


body {
    font-family: 'Poppins', sans-serif;
    background: url('https://i.pinimg.com/736x/d7/b8/99/d7b89990bb9fedbef2fefeb4eb60265f.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative;
    color: black;
}



/* Overlay escuro */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 0;
}

/* Container centralizado */
.container {
    position: relative;
    z-index: 1;
    opacity:0.8;
    background-color: var(--Branco);
    max-width: 450px;
    margin: 100px auto;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 0 25px rgba(0,0,0,0.35);
    text-align: center;
}

h1 {
    color: #4A2C2A;
    margin-bottom: 25px;
}

/* Mensagens de sucesso ou erro */
.message {
    padding: 20px;
    border-radius: 10px;
    font-size: 1.1rem;
    margin-bottom: 25px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

.message.sucesso {
    background-color: #38a169;
    color: #fff;
}

.message.erro {
    background-color: #e53e3e;
    color: #fff;
}

/* Botão de voltar */
.btn-voltar {
    display: inline-block;
    padding: 12px 25px;
    background-color: #4A2C2A;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.btn-voltar:hover {
    background-color: var(--Azul);
    transform: scale(1.05);
}

input{
    width: 100%;
    padding: 10px;
    margin: 8px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 1rem;
}

.cadastrar {
    display: inline-block;
    padding: 12px 25px;
    background-color: var(--Azul);
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.cadastrar:hover {
    background-color: var(--Amarelo);
    transform: scale(1.05);
}

/* Responsividade */
@media (max-width: 480px) {
    .container {
        margin: 50px 20px;
        padding: 25px;
    }

    .message {
        font-size: 1rem;
        padding: 15px;
    }
}
